* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	background-color: #088365;
	font-family: "Montserrat", sans-serif;
	color: #fff;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	margin: 60px 0 50px 0;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	max-height: 450px;
}
.header__avatar img {
	width: 450px;
	height: 450px;
	border-radius: 50%;
}
.header__text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	width: 600px;
	height: 232px;
	margin: 88px 55px 0 95px;
}
.header__title::after {
	display: block;
	width: 600px;
	content: "";
	position: absolute;
	border-bottom: 5px solid #fff;
	margin-top: 50px;
	border-radius: 5px;
}
h1 {
	font-size: 64px;
	line-height: 78px;
	color: #ffc310;
	font-weight: 700;
}
h3 {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	color: #ffc310;
}
h4 {
	color: #fff;
	transition: 0.5s;
}
h4:hover {
	color: #ffc310;
}

.content__inner {
	display: flex;
	justify-content: space-between;
}
.content__first {
	display: flex;
	flex-direction: column;
	width: 860px;
	height: 1448px;
}
.content__about {
	padding: 20px 42px 0 0;
	margin-bottom: 50px;
}
.content__title {
	margin-bottom: 20px;
}
.content__subtitle {
	width: 818px;
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
}
.content__codeabout {
	margin-bottom: 20px;
}
.pre {
	padding: 0;
	width: 737px;
	height: 638px;
}
.content__code {
	width: 860px;
	height: 679px;
	background-color: #0b4537;
	padding: 18px 88px 23px 35px;
	margin-bottom: 30px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.content__second {
	width: 340px;
	height: 1415px;
	padding: 30px 30px;
	background-color: #119171;
}
.title {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #ffc310;
	margin-bottom: 15px;
}
.contact {
	width: 283;
	height: 134;
	margin-bottom: 40px;
}
.contact__element {
	display: flex;
	margin: 6px 0px;
}
.contact__icon {
	height: 19px;
	width: 19px;
	margin-right: 25px;
}
.contact__text {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}
.skill__name {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}
.skill__percent {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}
.skill__line {
	width: 280px;
	height: 10px;
	background: #ffffff;
	margin-bottom: 10px;
}
.skill1::after {
	display: block;
	width: 210px;
	height: 10px;
	content: "";
	position: absolute;
	background: #ffc20a;
}
.skill2::after {
	display: block;
	width: 182px;
	height: 10px;
	content: "";
	position: absolute;
	background: #ffc20a;
}
.skill3::after {
	display: block;
	width: 168px;
	height: 10px;
	content: "";
	position: absolute;
	background: #ffc20a;
}
.skill4::after {
	display: block;
	width: 140px;
	height: 10px;
	content: "";
	position: absolute;
	background: #ffc20a;
}
.skill5::after {
	display: block;
	width: 112px;
	height: 10px;
	content: "";
	position: absolute;
	background: #ffc20a;
}
.skill6::after {
	display: block;
	width: 224px;
	height: 10px;
	content: "";
	position: absolute;
	background: #ffc20a;
}
.skill7::after {
	display: block;
	width: 196px;
	height: 10px;
	content: "";
	position: absolute;
	background: #ffc20a;
}

.course__title {
	margin-top: 40px;
}
ul li {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	list-style: disc inside;
	padding-left: 5px;
}
.language__title {
	margin-top: 40px;
}
.language__text {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}

.footer {
	height: 80px;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__git_a {
	display: flex;
	align-items: center;
}

.footer__git img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	fill: #ffc20a;
}
.footer__gittext {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #ffc20a;
	transition: 0.5s;
}
.footer__gittext:hover {
	color: #fff;
}
.footer__year {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #ffc20a;
}
.mask {
	width: 30px;
	height: 30px;
	background-color: #ffc20a;
	margin-right: 10px;

	-webkit-mask-image: url("/icons/git.svg");
	-webkit-mask-size: cover;
}

.rsslogo {
	width: 109px;
	height: 41px;
	background-color: #ffc20a;

	-webkit-mask-image: url("/icons/rs_school_js\ 1.svg");
	-webkit-mask-size: cover;
	transition: 0.5s;
}
.rsslogo:hover {
	background-color: #fff;
}
